*{
    background-color:beige;

}

.container{
    display: flex;
    border: 2px solid black;
    height: 400px;
    width: 400px;
    
}

.first,.second,.third,.fourth,.fifth,.sixth,.seventh,.eighth,.ninth{
    height: 100px;
    width: 100px;
    background-color: rgb(234, 136, 236);
    
}