#mainTopic {
    color: blue;
}

* {
    text-align: center;
}

h1,
h3,
h5 {
    font-family: georgia;
}

.paragraph {
    background-color: cornflowerblue;
    color: white;
}

div button {
    background-color: purple;
    color: azure;
}

div button:hover {



    background-color: yellow;
    color: blue;
}

#first,
#third {
    color: yellow;
}

h1::first-letter {
    color: red;

}
#yes:checked + label {
    color: darkgreen;

}