.face {
    width : 500px;
    height: 500px;
    background-color: rgb(255, 200, 0);
    border-radius: 50%;
}

.mouth {
    width: 300px;
    height: 100px;
    background-color: brown;
    border-bottom-left-radius: 50% 100px;
    border-bottom-right-radius: 50% 100px;
    position: absolute;
    top: 350px;
    left: 110px;

}


.eyeOne {
    width: 80px;
    height: 80px;
    background-color:black;
    border-radius: 50%;
    position: absolute;
    top: 125px;
    left: 120px;

}

.eyeTwo {
    width: 80px;
    height: 80px;
    background-color:black;
    border-radius: 50%;
    position: absolute;
    top: 125px;
    left: 300px;

}