#first {
    height: 150px;
    width: 300px;
    background-color: grey;
    border: 5px dotted black;
    margin-top: 20px;
    margin-right: 1em;
    margin-bottom: 40px;
    margin-left: 2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;   
    padding-bottom: 1em;
}
#second {
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid black;
}
.box {
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
}
.item{
    display: inline-block;
}