#box1 {
    width: 100px;
    height: 100px;
    background-color: green;
    transition: width 2s ease-in 0.5s;
}
#box1:hover {
    width: 600px;
}
#box2 {
    width: 100px;
    height: 100px;
    background-color: red;
    transform: translate(200px , 100px) rotate(90deg);
    box-shadow: 2px 2px 5px green;

}
#box3 {
    width: 100px;
    height: 100px;
    background-color: rgb(8, 184, 242);
    transform: skewX(20 deg);
}
#box4 {
    width: 100px;
    height: 100px;
    background-color: rgb(13, 245, 13);
    box-shadow: 2px 2px 5px green;
}

#myPic {
    width: 15em;
    height: 15em;
    background-image: url("aditya.jpg");
    background-size: cover;
    opacity: 0.8;
}