body{
    background-color:wheat;
    text-align:center;
    font-family:Georgia;

}
h3{
    color:black;
}
p{
    color:red;

}
a{
    text-decoration:none;
    color:green;
}
button{
    background-color:white;
    color:blueviolet;

}
textarea{
    color:rgb(14, 236, 144);

}
span {
text-decoration: underline;
}